.icon-editor {
  --editor-navigation-height: 64px;
  --icon-sortable-chosen-color: #2bd672;
}

.ie-navigation {
  display: flex;
  flex: 1;
  align-items: center;
  height: 100%;

  .navigation-left {
    display: flex;
    flex: 0 0 210px;
    align-items: center;
    height: 100%;
    padding-right: 10px;

    .title {
      padding-left: 16px;
      color: var(--primary-color);
      font-weight: bold;
      font-size: 14px;
      letter-spacing: 12px;
    }
  }

  .ie-navigation-container {
    flex: 1;
    padding: 0 24px 0 24px;

    .ie-search {
      display: flex;
      box-sizing: padding-box;
      margin: 0;
      color: #4b4b4b;
      border: 1px solid #e1e1e1;
      border-radius: 4px;
      outline: 0;
      transition: color 0.3s, border 0.3s;

      .ie-icon-typs {
        color: #4b4b4b;
        background-color: #fafafa;
        border-right: 1px solid #e1e1e1;
        border-radius: 4px 0 0 4px;

        select {
          position: relative;
          display: inline-block;
          box-sizing: padding-box;
          height: 38px;
          min-height: 30px;
          padding: 0 32px 0 11px;
          font-size: 0.875rem;
          vertical-align: middle;
          background-color: transparent;
          border: 0;
          outline: 0;
          cursor: pointer;
          transition: background-color 0.3s, color 0.3s, border 0.3s;
          appearance: none;
        }
      }

      .ie-icon-input {
        display: flex;
        flex: 1;
        align-items: center;

        input {
          height: 32px;
          margin: 0;
          padding-left: 40px;
          color: #4b4b4b;
          background-color: transparent;
          border: 0;
          border-radius: 0;
          outline: 0;
          transition: color 0.3s, border 0.3s;
        }
      }
    }
  }

  .ie-my-libraries {
    display: flex;
    align-items: center;
    width: 128px;
    padding-right: 24;

    .button-text {
      color: var(--primary-color);
      font-size: 14px;
    }
  }
}

.ie-libraries {
  width: 100%;
  color: var(--primary-second-color);

  a {
    color: var(--primary-second-color);
  }

  a.name-editing-cancel,
  a.name-editing-ok {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;
    cursor: pointer;

    &:hover {
      color: var(--primary-color);
    }

    &.name-editing-cancel {
      font-size: 14px;
    }

    &.name-editing-ok {
      font-size: 16px;
    }
  }

  .libraries-header-section {
    .libraries-header {
      display: flex;
      align-items: center;
      margin-top: 14px;
      margin-bottom: 24px;
      color: var(--primary-third-color);
      font-size: 21px;
      line-height: 32px;

      .icon-arrow {
        margin: 0 6px;
      }

      .library-current {
        color: var(--primary-second-color);
      }

      .library-name-editing {
        display: flex;
        flex-direction: row;
        height: 32px;

        .input-rimless {
          margin-top: 1px;
          padding-left: 0;
          color: var(--primary-second-color);
          font-weight: 500;
          font-size: 21px;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
        }
      }

      a:hover {
        color: var(--primary-focus-color);
      }
    }

    .subheading {
      .library-detail-header-library-total-count-text {
        color: var(--text-color-subtle-contrast);
        line-height: 32px;
      }
    }
  }

  .library-list-wrapper {
    display: flex;
    flex-wrap: wrap;

    .library-container {
      width: 280px;
      height: 420px;
      margin: 0 20px 20px 0;

      .card-body {
        padding: 0;
      }

      .card-footer {
        display: flex;
        flex-direction: row;
        padding: 0 0 0 0.5rem;

        .lib-description {
          flex: 1;
          padding: 6px 0 12px 16px;

          .library-name-header {
            display: flex;
            align-items: center;
            height: 28px;
            margin: 0;
            padding-right: 32px;
            font-weight: 300;
            font-size: 18px;
            line-height: 28px;

            .input-rimless {
              padding: 0;
              margin-left: -4px;
              padding-left: 4px;
              font-weight: 300;
              color: var(--primary-second-color);
              font-size: inherit;
              border-width: 0;
              border-bottom-right-radius: 0;
              border-bottom-left-radius: 0;
              border-bottom-width: 1px;
            }

            .spin-container {
              display: flex;
              flex-direction: row;
            }
          }

          .library-item-count-label {
            top: 50%;
            height: 24px;
            margin-bottom: 0;
            color: #787878;
            font-size: 15px;
          }
        }

        .lib-actions-menu {
          display: flex;
          align-items: center;
          padding-right: 8px;

          .dropdown-link {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 32px;
            height: 32px;
            font-size: 24px;
            cursor: pointer;

            .svg-icon svg {
              width: 1.75rem;
              height: 1.75rem;
            }
          }
        }
      }

      &.library-create {
        .card-body {
          display: flex;
          align-items: center;
          height: 100%;
        }

        .library-create-form {
          display: block;
          display: flex;
          flex: 1;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          &.active {
            .library-action-buttons .svg-icon {
              opacity: 1;
            }
          }

          .ant-spin-blur {
            opacity: 0;
          }

          .ant-spin-container:after {
            background-color: transparent;
          }

          .library-action-buttons {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 80px;
            height: 40px;

            .name-editing-cancel {
              font-size: 16px;
            }

            .name-editing-ok {
              font-size: 18px;
            }

            .svg-icon {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 32px;
              height: 32px;
              opacity: 0;
              transition: opacity 0.5s;

              svg {
                width: 2rem !important;
                height: 2rem !important;
              }
            }
          }
        }

        .library-name-input {
          width: 220px;
          height: 32px;
          padding: 0 10px 0 10px;
          color: var(--primary-second-color);
          font-style: italic;
          background-color: transparent;
          border: 0;
          border-bottom: 1px solid #aaa;
          border-radius: 0;

          &:hover {
            &::placeholder {
              color: var(--primary-second-color);
              transition: color 0.3s, border 0.3s;
            }
          }
        }
      }

      .library-image-wrapper {
        position: relative;
        width: 100%;
        height: 350px;
        background-color: #ccc;
        border-top-left-radius: 0.85rem;
        border-top-right-radius: 0.85rem;
        cursor: pointer;
      }
    }
  }
}

.ie-library-details {
  .libraries-header-section {
    display: flex;

    .library-left {
      display: flex;
      flex: 1;
      flex-direction: column;
    }

    .library-right {
      display: flex;
      align-items: center;

      .ant-dropdown-link {
        height: 28px;
        font-size: 28px;
      }
    }

    .libraries-header {
      margin-top: 0;
      margin-bottom: 0;
    }
  }

  .mosaic-container {
    min-height: calc(100vh - 88px - var(--editor-navigation-height));
    padding-top: 12px;
    padding-bottom: 24px;

    .icon-mosaic-set {
      .ims-header-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 16px;
        font-size: 24px;
        box-shadow: 0 2px #f1f1f1, 0 3px #d4d4d4;

        .ims-hs-title {
          flex: 1;
          padding-left: 4px;
        }

        .ims-hs-actions {
          display: flex;
          align-items: center;
        }
      }

      .ims-header-body {
        margin-left: -12px;
      }
    }

    &.feature-move {
      .icon-mosaic {
        &.sortable-item-dragging {
          .icon-thumb {
            background: var(--general-background);
            box-shadow: inset 0 0 0 3px var(--icon-sortable-chosen-color);
          }
        }
      }
    }

    .icon-mosaic {
      display: inline-flex;
      margin-top: 12px;
      margin-left: 12px;
      cursor: pointer;

      &.mode-list {
        width: 280px;
        margin-top: 24px;
        margin-right: 48px;
        margin-bottom: 12px;
        box-shadow: 0 2px #f1f1f1, 0 3px #d4d4d4;

        .icon-thumb {
          justify-content: start;
          width: 48px;
          height: 48px;
          background: transparent;
        }

        &:hover .icon-thumb {
          box-shadow: none;
        }
      }

      &:hover {
        .icon-thumb {
          box-shadow: inset 0 0 0 3px #ccc;
        }
      }

      &.selected {
        .icon-thumb {
          background: var(--general-background);
          box-shadow: inset 0 0 0 3px var(--primary-focus-color);
        }
      }
    }

    .icon-thumb {
      width: 72px;
      height: 72px;
      font-size: 32px;
      background-color: #ddd;
      border-radius: 5px;
      transition: background 0.1s;
    }
  }

  // .libraries-list {
  //   width: calc(100% - 120px);
  // }
  .control-panel {
    position: fixed;
    top: 0;
    right: 0;
    width: 240px;
    height: 100%;
    background: #fff;

    .sketch-configuration-body {
      height: calc(100vh - 64px);
    }

    .global-panel {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;

      .import-icons {
        display: flex;
        flex-direction: column;
        align-items: center;

        .import-icon-container {
          display: block;
          padding: 0 16px 16px 16px;
          font-size: 160px;
        }

        p {
          margin-bottom: 0;
          font-size: 14px;
        }

        button {
          width: auto;
          padding-right: 20px;
          padding-left: 20px;
        }
      }
    }
  }
}

.feature-selecto {
  .selecto-selection {
    display: none !important;
  }
}