.menu.menu-sub-dropdown {
  .menu-item.actions-delete {
    .menu-link:hover {
      background-color: #fff5f8;
      border-color: #fff5f8;
      .menu-title {
        color: #f1416c;
      }
    }
  }
}
