node_modules
.umi
.umi-production
package-lock.json
public
dist
public/
graphql/index.schema.json
src/types/index.ts
src/hooks/api.ts
src/pages/**/*/hooks.ts
src/pages/*/hooks.ts
src/pages/*/hooks/api.ts
src/pages/document.ejs
*.yml
.lintstagedrc