.theme-metronic {
  .btn {
    height: auto;
    padding: 4px 15px;
    font-size: 14px;
    line-height: 24px;
    border-radius: 6px;

    &.btn-full {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    &:not(.btn-outline):not(.btn-dashed):not(.btn-bordered):not(
        .border-hover
      ):not(.border-active):not(.btn-flush):not(.btn-icon):not(
        .btn-hover-outline
      ) {
      padding: 4px 15px;

      &.btn-sm {
        padding: 3px 12px;
      }

      &.btn-lg {
        padding: 6.4px 15px;
      }
    }

    &.btn-lg {
      height: 40px;
      font-size: 16px;
      border-radius: 2px;
    }

    &.btn-sm {
      height: auto;
      padding: 3px 12px;
      font-size: 12px;
      line-height: 20px;
    }
  }

  .btn-group-sm > .btn.btn-icon,
  .btn.btn-icon {
    width: 34px;
    height: 34px;

    &.btn-sm {
      width: 24px;
      height: 24px;
    }
  }
}
