[data-theme=dark] {
  .secondary_sidebar-resizer {
    --box-shadow-color-rgb: rgba(255, 255, 255, 0.2);
  }
}

.secondary_sidebar-resizer__mirror {
  width: 0px;
  transition: width .3s ease;
}

.secondary_sidebar-resizer {
  --box-shadow-color-rgb: rgba(9, 30, 66, 0.08);
  min-height: 100vh;
  box-shadow: 1px 0px 2px 0px rgb(56 71 109 / 8%);
  transition: width .3s ease;
  position: fixed;
  z-index: 103;

  &>.secondary_sidebar-inner {
    background-color: var(--kt-aside-bg-color);
    overflow: hidden;
    height: 100vh;
  }

  .handle::before {
    transition-duration: .5s;
  }

  &-minimized {
    width: 0px;
    box-shadow: none;
  }

  &.active {
    transition: none;
  }

  .secondary_sidebar-resize-button {
    position: absolute;
    top: 91px;
    z-index: 15;
    right: -24px;
    width: 24px;
    height: 24px;
    padding: 0;
    color: var(--kt-secondary-inverse);
    background: 0 center var(--kt-aside-bg-color);
    border: 0;
    border-radius: 50%;
    outline: 0;
    box-shadow: var(--box-shadow-color-rgb) 0 0 0 1px, var(--box-shadow-color-rgb) 0 0px 4px 1px;
    transform: translate(-50%);
    cursor: pointer;
    transition: background-color 100ms linear 0s, color 100ms linear 0s, transform 300ms cubic-bezier(0.2, 0, 0, 1) 0s;

    @keyframes expanded {
      from {
        transform: rotate(0deg);
      }

      to {
        transform: rotate(180deg);
      }
    }

    @keyframes collapsed {
      from {
        transform: rotate(180deg);
      }

      to {
        transform: rotate(0deg);
      }
    }

    .invisible-area {
      position: absolute;
      top: -8px;
      right: -12px;
      bottom: -8px;
      left: -8px;
    }

    .homemade-button {
      display: inline-block;
      flex-shrink: 0;
      color: currentColor;
      line-height: 1;
      fill: #ffffff;
    }

    &.collapsed {
      svg {
        animation: collapsed 0.35s linear both;
      }
    }

    &.expanded {
      // opacity: 0;

      svg {
        animation: expanded 0.35s linear both;
      }
    }

    &:hover {
      color: var(--kt-primary-inverse);
      background-color: var(--kt-primary);
    }

    &:active {
      color: var(--kt-primary-inverse);
      background-color: var(--kt-primary);
    }
  }
}
