.art-main {
  background: #fff;

  .settings-menu-toggle {
    position: absolute;
    top: 30px;
    right: 24px;
    z-index: 9999;
    margin-right: 0 !important;
  }

  .settings-menu-container {
    z-index: 999;
    min-width: 380px;
    height: 100vh;
    overflow-x: visible;
    overflow-y: auto;
    border-left: 1px solid #e6e9eb;

    .settings-menu-header {
      position: fixed;
      z-index: 1;
      display: flex;
      width: 100%;
      padding: 36px 24px 24px;
      background: #fff;
    }
  }
}

.art-editor {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  &-header {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 799;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    height: 36px;
    margin: 30px;
    padding: 0;

    .settings-menu-toggle-spacer {
      width: 40px;
    }

    .btn {
      letter-spacing: 0.5rem;
    }
  }
  &-body {
    padding: 8vw 92px;
  }
  &-feature-image-container {
    position: relative;
    display: block;
    width: 100%;
    max-width: 740px;
    min-height: auto;
    margin: -3rem auto 0;
    padding: 0 var(--ck-spacing-standard);
  }
  &-title {
    max-width: 740px;
    margin: 0 auto;
    padding: 0 var(--ck-spacing-standard);
    background: transparent;
    border: none;

    .form-control {
      padding-left: 0;
      font-size: 2.4rem;
    }
  }
  &-channel {
    max-width: 740px;
    margin: 0 auto;
    padding: 0 var(--ck-spacing-standard);
    background: transparent;
    border: none;

    .select2-container--bootstrap5 .select2-selection.select2-selection--multiple.form-select-sm {
      padding-left: 0;
      line-height: 1.8;
      border-width: 0;
      min-width: 184px;
      .select2-selection__choice {
        margin-top: 0;
        margin-bottom: 0;
        padding-right: 16px;
        padding-left: 8px;
        background-color: #f5f8fa;
        > span {
          margin-left: 16px;
          color: #7e8299;
        }
      }
    }
  }
  &-content {
    --ck-color-focus-border: transparent;
    max-width: 740px;
    margin: 0 auto;

    .ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-focused {
      border: 1px solid var(--ck-color-focus-border) !important;
    }

    .ck.ck-content {
      color: #394047;
      font-size: 1.24rem;
    }
  }
  &-wordcount-container {
    position: absolute;
    right: 30px;
    bottom: 30px;
    display: flex;
    align-items: center;
    background: #fff;
    border-radius: 3px;
  }
}
