@import '../../../metronic/style/preferences.scss';

.text-ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.btn.btn-primary.email-compose {
  height: auto !important;
  margin-top: 2rem;
  margin-right: 2.25rem;
  margin-bottom: 2rem;
  margin-left: 2.25rem;
  padding: calc(0.75rem + 1px) 0 !important;
  font-size: 1.1rem !important;
  line-height: 1.5 !important;
  letter-spacing: 32px;
  text-align: center;
  text-indent: 32px;
  border-radius: 0.475rem !important;
}

.email-compose-editor {
  flex: 1;
  // .card-body {
  //   // display: flex;
  //   // flex: 1;
  //   // flex-direction: column;
  //   height: 100%;
  // }
  #kt_inbox_compose_form {
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;

    .email-compose-editor-body {
      display: flex;
      flex: 1;
      flex-direction: column;
    }

    .email-tags-input {
      margin-left: 0;
      padding-left: 1rem;
      span.standard:last-child[contenteditable][placeholder]:empty:before {
        font-size: 1.1rem !important;
      }
    }

    #kt_inbox_form_editor {
      display: flex;
      flex: 1;
      flex-direction: column;
      .editor_mode_text {
        display: flex;
        flex: 1;
        textarea {
          flex: 1;
          padding: 12px 15px;
          font-weight: 400;
          font-size: 14px;
          resize: none;
          &:focus-visible {
            border: none;
            outline: none;
          }
        }
      }
      .ql-editor.ql-blank::before {
        color: #a1a5b7 !important;
        font-weight: 500 !important;
        font-size: 1.1rem !important;
      }
      .ql-picker-label {
        display: flex;
      }

      .ql-snow .ql-formats {
        position: relative;
        &:last-child {
          &:after {
            display: none;
          }
        }
        &:after {
          position: absolute;
          right: -10px;
          display: table;
          clear: both;
          width: 1px;
          height: 24px;
          border-right: 1px solid #eff2f5;
          content: '';
        }
      }
    }

    .quill-zh_hans {
      .ql-picker.ql-header {
        .ql-picker-label::before {
          content: '普通' !important;
        }
        .ql-picker-label[data-value='1']::before {
          content: '标题 1' !important;
        }
        .ql-picker-label[data-value='2']::before {
          content: '标题 2' !important;
        }
      }
      .ql-picker.ql-header {
        .ql-picker-item::before {
          content: '普通' !important;
        }
        .ql-picker-item[data-value='1']::before {
          font-size: 1.5em;
          content: '标题 1' !important;
        }
        .ql-picker-item[data-value='2']::before {
          font-size: 1.25em;
          content: '标题 2' !important;
        }
      }
      .ql-container {
        font-size: 14px;
      }
      .ql-picker.ql-size.ql-expanded .ql-picker-options .ql-picker-item {
        padding: 2px 0;
      }
      .ql-font.ql-picker {
        width: 96px;
      }
      .ql-picker.ql-size {
        width: 56px;
        .ql-picker-item[data-value='9px']::before,
        .ql-picker-label[data-value='9px']::before {
          content: '9';
        }
        .ql-picker-item[data-value='10px']::before,
        .ql-picker-label[data-value='10px']::before {
          content: '10';
        }
        .ql-picker-item[data-value='11px']::before,
        .ql-picker-label[data-value='11px']::before {
          content: '11';
        }
        .ql-picker-item[data-value='12px']::before,
        .ql-picker-label[data-value='12px']::before {
          content: '12';
        }
        .ql-picker-item[data-value='13px']::before,
        .ql-picker-label[data-value='13px']::before {
          content: '13';
        }
        .ql-picker-item::before,
        .ql-picker-label::before {
          content: '14';
        }
        .ql-picker-item[data-value='14px']::before,
        .ql-picker-label[data-value='14px']::before {
          content: '14';
        }
        .ql-picker-item[data-value='16px']::before,
        .ql-picker-label[data-value='16px']::before {
          content: '16';
        }
        .ql-picker-item[data-value='18px']::before,
        .ql-picker-label[data-value='18px']::before {
          content: '18';
        }
        .ql-picker-item[data-value='24px']::before,
        .ql-picker-label[data-value='24px']::before {
          content: '24';
        }
        .ql-picker-item[data-value='36px']::before,
        .ql-picker-label[data-value='36px']::before {
          content: '36';
        }
        .ql-picker-item[data-value='48px']::before,
        .ql-picker-label[data-value='48px']::before {
          content: '48';
        }
        .ql-picker-item[data-value='64px']::before,
        .ql-picker-label[data-value='64px']::before {
          content: '64';
        }
        .ql-picker-item[data-value='72px']::before,
        .ql-picker-label[data-value='72px']::before {
          content: '72';
        }
        .ql-picker-item[data-value='96px']::before,
        .ql-picker-label[data-value='96px']::before {
          content: '96';
        }
        .ql-picker-item[data-value='144px']::before,
        .ql-picker-label[data-value='144px']::before {
          content: '144';
        }
        .ql-picker-item[data-value='288px']::before,
        .ql-picker-label[data-value='288px']::before {
          content: '288';
        }
      }
      .ql-picker.ql-font {
        .ql-picker-label[data-value='SimSun']::before,
        .ql-picker-item[data-value='SimSun']::before {
          font-family: 'SimSun' !important;
          content: '宋体';
        }
        .ql-picker-label[data-value='SimHei']::before,
        .ql-picker-item[data-value='SimHei']::before {
          font-family: 'SimHei';
          content: '黑体';
        }
        .ql-picker-label[data-value='Microsoft-YaHei']::before,
        .ql-picker-item[data-value='Microsoft-YaHei']::before {
          font-family: '微软雅黑';
          content: '微软雅黑';
        }
        .ql-picker-label[data-value='KaiTi']::before,
        .ql-picker-item[data-value='KaiTi']::before {
          font-family: 'KaiTi' !important;
          content: '楷体';
        }
        .ql-picker-label[data-value='FangSong']::before,
        .ql-picker-item[data-value='FangSong']::before {
          font-family: 'FangSong';
          content: '仿宋';
        }
        .ql-picker-label[data-value='Arial']::before,
        .ql-picker-item[data-value='Arial']::before {
          font-family: 'Arial';
          content: 'Arial';
        }
        .ql-picker-label[data-value='pingfang']::before,
        .ql-picker-item[data-value='pingfang']::before {
          font-family: '苹方';
          content: '苹方';
        }
      }
      .ql-font-SimSun {
        font-family: 'SimSun';
      }
      .ql-font-SimHei {
        font-family: 'SimHei';
      }
      .ql-font-Microsoft-YaHei {
        font-family: '微软雅黑';
      }
      .ql-font-KaiTi {
        font-family: 'KaiTi';
      }
      .ql-font-FangSong {
        font-family: 'FangSong';
      }
      .ql-font-Arial {
        font-family: 'Arial';
      }
      .ql-font-pingfang {
        font-family: '苹方';
      }
      .ql-tooltip[data-mode='link']::before {
        content: 'Entrer le lien' !important;
      }
      .ql-tooltip[data-mode='video']::before {
        content: 'Entrez la vidéo' !important;
      }
      .ql-snow .ql-tooltip.ql-editing a.ql-action::after {
        content: 'Sauvegarder' !important;
      }
    }
  }
}

.apps-email-compose {
  padding-top: 30px;
  #kt_content_container {
    display: flex;
    flex-direction: row;
    min-height: calc(100vh - 60px);
  }
  .spin-nested-loading {
    display: flex;
    flex: 1;
    .spin-container {
      display: flex;
      flex: 1;
    }
  }
  .email-compose-tools {
    width: 320px;
    margin-left: 30px;
  }
}

.email-sidebar-aside {
  .email-sidebar {
    display: flex;
    flex-direction: column;
    .email-sidebar-body {
      height: calc(100vh - 4rem - 43px - 40px);
      padding-right: 2.25rem;
      padding-left: 2.25rem;
      .badge {
        padding: 0.3em 0.85em;
      }
    }
    .email-sidebar-footer {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      border-top: #f7f7f7 1px solid;

      .mail-settings {
        color: #5e6278;
        font-weight: bold;
        font-size: 13px;
        cursor: pointer;
      }
    }
  }
}
.apps-email-mailbox {
  #kt_content_container {
    display: flex;
    padding-right: 0;
    padding-left: 0;

    .mailbox-resizer {
      left: 1px;
    }
    .mailbox-card {
      background-color: #f0f0f2;
      border-right: #b0b0b0 1px solid;
      border-radius: 0;

      // &.has-inbox {
      //   padding-bottom: 0;
      // }

      & > .card-header {
        min-height: auto;
        padding-top: 1rem;
        padding-bottom: 10px;
        background-color: #fff;
        border-bottom: #d9d9d9 1px solid;
        border-radius: 0;
      }

      & > .card-body {
        position: relative;
        padding: 0;
        // &::before {
        //   position: absolute;
        //   width: 100%
        //   border-top: #d9d9d9 1px solid;
        //   content: '';
        // }
      }
      .mailbox-list-header {
        display: flex;
        align-items: center;
        height: 38px;
        margin-top: 6px;
        padding-left: 8px;
        font-weight: bold;
        background-color: #fff;
        border-top: #d9d9d9 1px solid;
        border-bottom: #d9d9d9 1px solid;

        .box-name {
          flex: 1;
          margin-left: 6px;
          font-size: 13px;
        }

        .box-actions {
          padding-right: 8px;
          .trash-clear {
            display: flex;
            align-items: center;
            padding: 0 calc(0.5rem + 1px);
            font-size: 12px;
            border: 1px solid #f1416c;
            border-radius: 2px;
          }
        }
      }

      .mailbox-is-empty {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100%;
        img {
          width: 80%;
        }
        .empty-title {
          padding: 16px 0;
          font-weight: 400;
          font-size: 14px;
        }
        .empty-subtitle {
          color: #858585;
          font-size: 13px;
        }
      }

      .infinite-scroll-container {
        position: relative;
        overflow-x: hidden;
      }

      .mailbox-list {
        height: calc(100vh - 2rem - 48px - 2rem) !important;
        margin-top: 0;
        overflow-x: hidden;

        .os-content {
          background-color: #fff;
        }

        .infinite-scroll-inner {
          min-height: 100%;
          background-color: #fff;

          &:focus-within {
            .email-message.active {
              background-color: #e7f2fb;
              &::after,
              &::before {
                background-color: #8cc7fc;
              }
            }
          }
        }

        .email-message {
          position: absolute;
          width: 100%;
          height: 80px;
          padding: 0.25rem 1.25rem 0 0;
          &::before {
            position: absolute;
            top: -1px;
            width: 100%;
            height: 1px;
            // border-top: transparent 1px solid;
            content: '';
          }
          &::after {
            position: absolute;
            bottom: 0;
            // border-bottom: transparent 1px solid;
            width: 100%;
            height: 1px;
            content: '';
          }

          &:hover {
            background-color: #f4f6f8;
          }

          &.active {
            background-color: #ecedee;
            &::after,
            &::before {
              background-color: #e4e4e5;
            }
          }
          &-loading {
            padding-left: 32.25px;
            overflow: hidden;
          }
          &-actions {
            flex-shrink: 0;
            align-items: center;
            // justify-content: space-between;
            width: calc(1.25rem + 16px);
            padding: 0.3rem 0.5rem 0.75rem 0.75rem;
            &:hover {
              .svg-icon {
                display: flex;
              }
            }

            > a {
              margin-bottom: 6px;
              &:last-child {
                margin-bottom: 0;
              }
            }

            &.message-unread {
              .flags-read .svg-icon {
                display: flex;
              }
            }

            .flags-read {
              transition: transform 0.4s cubic-bezier(0.1, 0.7, 0.1, 1);
              &:hover {
                transform: scale(1.2, 1.2);
              }
            }

            .svg-icon {
              display: none;
              align-items: center;
              justify-content: center;
              width: 16px;
              height: 16px;
            }
          }
          &-body {
            position: relative;
            flex: 1;
            justify-content: space-between;
            padding-bottom: 0.5rem;
            border-bottom: #e4e6ef 1px solid;

            @extend .text-ellipsis;

            .email-message-attrs {
              display: flex;
              align-items: center;
              height: 24px;
              .smart-type {
                display: flex;
                align-items: center;
                justify-content: start;
                width: 24px;
                height: 24px;
              }
              .email-user {
                flex: 1;
                font-weight: bold;
                font-size: 14px;
              }
              .inbox-time {
                color: #7e7f82;
                font-size: 12px;
              }
            }
            .email-message-title {
              font-weight: 500;
              @extend .text-ellipsis;
            }
            .email-message-summary {
              font-size: 13px;
              color: #7d7e81;
            }
          }
        }
      }
    }
    .mail-message-details {
      flex: 1;
      height: 100vh;
      background-color: #fff;

      &.mailbox-message-is-empty {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        img {
          height: 60%;
        }
      }

      .mail-message-container {
        background-color: transparent;
        border-radius: 0;
        box-shadow: none;

        .mail-message-draft {
          display: flex;
          min-height: calc(100vh - 70px);
        }

        .email-compose-editor {
          box-shadow: none;
        }
      }

      .inbox-message-details {
        width: fit-content;
      }

      .message_wrapper {
        .mail-message-date {
          text-align: right;
        }
        .message_wrapper_preview-message {
          display: -webkit-box;
          overflow: hidden;
          text-overflow: ellipsis;
          -webkit-box-orient: vertical;
          -webkit-line-clamp: 2;
        }
        .cursor-pointer {
          justify-content: space-between;
        }
        &.shrink {
          .cursor-pointer {
            flex-direction: column;
          }
          .message_wrapper_actions {
            width: 100%;
            .mail-message-date {
              flex: 1;
              text-align: left;
            }
          }
        }
      }
    }
  }
}
.mail-preferences {
  color: #343434;
  .modal-header {
    background-color: #fff;
    .nav-link {
      margin-right: 0;
      margin-left: 0;
    }
    .nav-item .btn {
      height: auto;
      padding: calc(0.75rem + 1px) calc(1.5rem + 1px) !important;
      border-radius: 0.475rem;
    }
  }
  .modal-content {
    background-color: #f2f2f2;
  }
  .modal-body {
    height: calc(75vh - 100px);
  }
  .settings-mailbox-container {
    display: flex;
    flex-direction: column;
    height: 100%;

    .settings-mailbox-notes {
      margin-bottom: 16px;
    }

    .title.d-flex {
      flex: 1;
    }

    .settings-mailbox {
      display: flex;
      flex: 1;
      flex-direction: column;
      background-color: #ebebed;
      border: 1px solid #dedfdf;
      border-bottom-right-radius: 3px;
      border-bottom-left-radius: 3px;

      .tree-list-header {
        height: 1px;
        padding: 0;
        overflow: hidden;
        border: none;
        .tree-list-header-col:first-child {
          margin-left: 40px;
        }
      }

      .tree-list-header-col {
        padding: 0;
      }

      .asany-treeview-node {
        min-height: 28px;
        line-height: 28px;
        cursor: default;
        &::after {
          content: none;
        }
        &.selected {
          color: initial;
        }
        &.sub_selected .monaco-tl-twistie .svg-icon svg path {
          fill: initial !important;
        }

        .title {
          font-size: 12px;
        }
        .mailbox-check {
          display: inline-flex;
          margin-left: 14px;
          input {
            width: 1.25rem;
            height: 1.25rem;
            border-radius: 3px;
          }
        }
        .monaco-tl-indent {
          .indent-guide {
            border-color: transparent !important;
          }
        }
        .monaco-tl-twistie {
          .svg-icon {
            svg {
              width: 14px;
              height: 14px;
            }
          }
        }
      }

      .asany-treeview-node.sortable-item-dragging {
        cursor: auto;
      }

      .tree-list-body .asany-treeview-node .tree-list-col {
        padding: 0;
      }

      .settings-mailbox-header {
        height: 28px;
        padding-left: 16px;
        color: #858585;
        font-weight: 500;
        font-size: 12px;
        line-height: 28px;
        background-color: #fff;
        border-bottom: 1px solid #e6e6e6;
        .field-folder {
          flex: 1;
          padding-left: 16px;
        }
        .field-favorites {
          width: 100px;
          padding-left: 16px;
        }
      }
      .settings-mailbox-body {
        height: calc(75vh - 100px - (1.75rem * 2) - 36px - 28px - 23px);
        margin-top: 4px;
        background-color: #fff;
      }
      .settings-mailbox-footer {
        display: flex;
        height: 24px;
        background-color: #e4e6e7;

        & > a {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 24px;
          height: 24px;
          margin-left: 4px;
          cursor: pointer;

          .svg-icon svg [fill]:not(.permanent):not(g) {
            fill: #000;
          }
        }
      }
    }
  }
}
