#kt_wrapper {
  &.content-mask {
    position: relative;
    &::after {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 1;
      background-color: #000;
      opacity: 0.3;
      content: '';
      pointer-events: none;
    }
  }
}
