.aside-secondary {
  .hover-scroll-y {
    overflow-x: hidden;
  }
}
.calendar-sidebar-bg {
  --aside-workspace-bg-color: #fff;
  background-color: var(--aside-workspace-bg-color);

  &.state-new-event {
    --aside-workspace-bg-color: #f7f7f7;
  }

  .calendar-event-header {
    position: relative;
    display: flex;
    padding: 2rem 1.25rem 0 1.5rem;
    &.event-header-state-new {
      .calendar-event-header-left {
        input {
          background-color: #fff;
          opacity: 1;
          &:focus {
            border-color: transparent;
          }
        }
      }
    }
    &.event-header-state-focused {
      .calendar-event-header-left {
        opacity: 1;
      }
    }
    .calendar-event-header-left {
      flex: 1;
      input {
        opacity: 0;
        &:focus {
          opacity: 1;
        }
      }
    }
    .calendar-event-header-right {
      position: absolute;
      top: 2rem;
      right: 22px;
      margin-top: 6px;
    }
  }

  .calendar-new-event-container {
    margin-bottom: -2rem;
    padding: 1rem;

    &.invisible,
    .invisible {
      display: none !important;
    }

    .calendar-new-event {
      width: 100%;
      padding: 1rem;
      background-color: #fff;
      border-radius: 1rem;
      ul {
        li {
          display: flex;
          align-items: center;
          min-height: 40px;
          color: #3f4254 !important;
          line-height: 40px;

          .fv-row {
            display: flex;
            flex: 1;
            flex-direction: row;
            .form-label {
              width: 80px;
              margin-right: 16px;
              margin-bottom: 0;
              font-weight: normal;
              font-size: inherit;
              text-align: right;
            }
            & > div,
            & > .form-control,
            & > .select2 {
              flex: 1;
            }
          }
          input {
            height: 34px;
            font-weight: normal;
            font-size: inherit;
          }
          .select2 {
            height: 34px;
            .selection {
              display: inline-flex;
            }
          }
          textarea {
            margin-top: 3px;
            font-weight: normal;
            font-size: inherit;
            resize: none;
          }
          .form-control.form-control-solid,
          .form-select.form-select-solid {
            background-color: transparent;
            border-color: transparent;
            &:focus {
              background-color: #f5f8fa;
              border-color: #f5f8fa;
            }
          }
          .form-select.form-select-solid {
            display: inline-block;
            width: auto;
            height: 34px;
          }
        }
      }
      .event-actions {
        position: relative;
        justify-content: center;
        margin-top: 16px;
        line-height: 40px;
        .toggle-more {
          position: absolute;
          left: 8px;
          color: #cccccc;
          cursor: pointer;
        }
        .event-btn-add {
          padding: 6px 24px !important;
        }
      }
    }
  }
}
.calendar-sidebar {
  .Calendar {
    --cl-color-error: #969595;
    width: 100%;
    padding-top: 0;
    background: transparent;
    box-shadow: none;

    .Calendar__monthYear {
      left: 49%;
      flex-direction: row-reverse;
      width: 136px;

      &.-shown {
        transform: translateX(-50%);
      }

      .Calendar__monthText {
        margin-left: 0;
        &:hover {
          transform: translateX(0.2em) scale(0.95);
        }
        &.-activeBackground {
          transform: scale(1) translateX(-36px) !important;
        }
      }

      .Calendar__yearText {
        &:hover {
          transform: translateX(-0.2em) scale(0.95);
        }
        &.-activeBackground {
          transform: scale(1) translateX(28px) !important;
        }
        &::after {
          margin-left: 0.3em;
          content: '年';
        }
      }
    }

    .Calendar__weekDays {
      padding: 0 32px 0 27px;

      abbr {
        text-decoration: none;
        cursor: inherit;
      }
    }

    .Calendar__section {
      padding: 0 32px 0 27px;
    }
  }
  .calendar-day-list {
    margin-top: -20px;
    padding: 0 1.25rem 0 32px;
    overflow: hidden;
    .event-list-header {
      position: relative;
      top: 0;
      z-index: 1;
      background-color: var(--aside-workspace-bg-color);
      h6 {
        display: flex;
        align-items: flex-end;
        cursor: default;
        span {
          padding-left: 8px;
          font-weight: normal;
        }
      }
      .onday-no-events {
        position: absolute;
        top: 16px;
        right: 0;
        left: 0;
        font-size: 12px;
        background-color: var(--aside-workspace-bg-color);
      }
    }
    .event-list-body {
      height: calc(100vh - 347px - 28px - 60px);
      margin-top: -30px;
      .event-list-item {
        margin-top: 0.5rem;
        h6 {
          display: flex;
          align-items: flex-end;
          cursor: default;
          span {
            padding-left: 8px;
            font-weight: normal;
          }
        }
      }
      .event-list {
        min-height: 2rem;
        line-height: 2rem;

        &.is-empty {
          min-height: 0.25rem;
          line-height: 0.25rem;
        }

        .event-day {
          margin-right: 16px;
          padding: 2px 6px;
          color: #fff;
          border-radius: 6px;
          cursor: pointer;
        }
      }
    }
  }
}
.main-calendar {
  #kt_content {
    padding: 30px;
    #kt_content_container {
      padding: 0;
    }
  }
  .fc-theme-standard {
    --fc-border-color: #e0e0e0;
    .fc-dayGridMonth-view {
      --fc-highlight-color: rgba(240, 250, 250, 0);
      .fc-daygrid-day-number {
        display: flex;
        flex: 1;
        justify-content: space-between;
        .fc-daygrid-day-lunar,
        .fc-daygrid-day-solar {
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .fc-daygrid-day-solar {
          width: 30px;
          height: 30px;
          font-weight: 500;
          font-size: 14px;
          border-radius: 15px;
        }
      }
      a {
        cursor: inherit;
        .fc-daygrid-day-solar {
          cursor: pointer;
        }
      }
      .fc-day-other {
        &.fc-day-nextmonth {
          border-top: 2px solid #d6d6d6;
          &.fc-day-month-divider {
            border-left: 2px solid #d6d6d6;
          }
        }
        &.fc-day-prevmonth {
          border-bottom: 2px solid #d6d6d6;
          &.fc-day-month-divider {
            border-right: 2px solid #d6d6d6;
          }
        }
      }
      .fc-daygrid-day.fc-day-today {
        background-color: transparent;
      }
      .fc-day-today {
        &.fc-day-selected {
          background-color: #f3f9fe;
        }
        .fc-daygrid-day-solar {
          color: #fff;
          background-color: #0095ff;
        }
      }
      .fc-day-selected {
        background-color: #f0f0f0;
      }
      .fc-day-sat,
      .fc-day-sun {
        &.fc-day-selected {
          background-color: #ededed;
        }
        background-color: #f7f7f7;
        &.fc-day-today {
          background-color: #f0f6fb;
        }
        .fc-col-header-cell-cushion,
        .fc-daygrid-day-number {
          color: #7e7f80;
        }
      }
    }
    .fc-timeGridWeek-view {
      .fc-day-selected {
        background-color: #f0f0f0;
      }
      .fc-day-today {
        background-color: transparent;
        &.fc-day-selected {
          background-color: #f3f9fe;
        }
      }
      .fc-day-sat,
      .fc-day-sun {
        &.fc-day-selected {
          background-color: #ededed;
        }
        background-color: #f7f7f7;
        &.fc-day-today {
          background-color: #f0f6fb;
        }
      }
    }
    .fc-dayGridYear-view {
      padding-top: 1rem;
      & > .row {
        padding-bottom: 1rem;
        .col {
          --bs-gutter-x: 2.5rem;
          h3 {
            margin-bottom: 0.5rem;
          }
          &:first-child {
            padding-left: 1rem;
          }
          &:last-child {
            padding-bottom: 1rem;
          }
        }
      }
      table {
        width: 100%;
        border: none;
        th {
          height: 28px;
          color: #9b9b9b;
          font-weight: 500;
          font-size: 0.8rem;
          line-height: 28px;
          text-align: center;
          border: none;
        }
        td {
          position: relative;
          text-align: center;
          border: 1px solid transparent;
          .day-of-month {
            padding: 0.5rem 0;
            &.is-other {
              color: #cccccc;
            }
            &.event-color-level-1 {
              color: #936d00;
              background-color: #fff9ce;
            }
            &.event-color-level-2 {
              color: #936d00;
              background-color: #fff3a0;
            }
            &.event-color-level-3 {
              color: #936d00;
              background-color: #ffdc92;
            }
            &.event-color-level-4 {
              color: #936d00;
              background-color: #ffc284;
            }
            &.is-today {
              color: #fff;
              background-color: #0095ff;
            }
            &.fc-day-selected {
              position: absolute;
              top: 50%;
              left: 50%;
              z-index: 1;
              width: 120%;
              padding: 0.5rem 0;
              font-weight: 700;
              font-size: 1.25rem;
              transform: translate(-50%, -50%);
              &.is-today,
              &.event-color-level-1,
              &.event-color-level-2,
              &.event-color-level-3,
              &.event-color-level-4 {
                box-shadow: 0px 1px 3px #7e7c7c;
              }
            }
          }
        }
      }
    }
  }
}
