body {
    margin: 0;
    overflow: hidden;
    font-family: 'KaiTi', 'Microsoft Yahei';
}

body.antd-theme-custom.swal2-shown.swal2-height-auto {
    height: 100% !important;
}

body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown):not(.modal-open),
html.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) {
    overflow: hidden !important;
}

::-webkit-scrollbar {
    background-color: transparent;
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: transparent;
    border-radius: 8px;
    background-clip: content-box;
    border: 2px solid transparent;
}

body[scroll]::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
    background-color: rgba(0, 0, 0, .5);
}

.page-fples-sigin {
    background: #fff;
    height: 100%;
    user-select: none;
    font-family: 'KaiTi', 'Microsoft Yahei';

    &>div {
        top: 30%;
        position: relative;

        .form-container {
            width: 80%;
        }

        .title {
            font-size: 5rem;
        }

        .form-label {
            margin-top: 2rem;
            font-size: 1.8rem;
        }

        .asany-form-control-input-content {
            font-size: 2rem;
        }

        .form-control {
            min-height: 4rem;
            padding: 4px 11px;
            border-radius: 6px;
            font-size: 1.4rem;
        }

        .btn {
            height: 2em;
            font-size: 4em;
            border-radius: 8px;
            font-weight: 400;
            letter-spacing: 1em;
            text-align: center;
            margin: 0 auto;
            display: grid;
            place-items: center;
            padding: 15px 30px !important;

            &.loading {
                letter-spacing: 0;
            }
        }
    }
}

.fples_screen_view {
    user-select: none;
    // transform: scale(100,100);
    width: 100%;
    height: calc(100vh);
    display: flex;
    flex-direction: column;
    overflow: hidden;

    .upload-dropzone {
        .dash-box {
            font-size: 2rem;
        }
    }

    .screen_one {
        position: relative;
        z-index: 200;
        display: flex;
        flex-direction: row;
        padding: 20px;

        .screen_base {
            width: 45%;
            display: flex;
            flex-direction: column;

            .screen_info {
                flex: 1;
                padding: 10px;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;

                .frame-border {
                    padding: 10px;
                }

                .upload-avatar {
                    img {
                        width: 100%;
                        height: auto;
                    }
                }

                &::after {
                    position: absolute;
                    content: '';
                    top: 10px;
                    display: block;
                    width: calc(100% - 20px);
                    height: calc(100% - 20px);
                    box-sizing: border-box;
                    box-shadow: 0 0 4px inset #4E4E4E;
                    border-radius: 8px;
                    pointer-events: none;
                }
            }

            .network_status {
                position: relative;
                padding: 10px;
                flex: 1;
                // height: 116px;

                .status_content {
                    background-color: #ddebfa;
                    position: relative;
                    padding: 6px;
                    display: flex;
                    align-items: center;
                    border-radius: 8px;

                    .network-details {
                        padding-left: 8px;
                    }

                    .network_status_flag {
                        position: absolute;
                        top: 8px;
                        right: 16px;
                        --kt-text-success: #50cd89;
                    }

                    .admin-actions {
                        position: absolute;
                        right: 16px;
                        bottom: 8px;
                        width: 100px;
                        display: flex;
                        justify-content: space-between;
                    }
                }

                &::after {
                    top: 10px;
                    position: absolute;
                    content: '';
                    display: block;
                    width: calc(100% - 20px);
                    height: calc(100% - 20px);
                    box-sizing: border-box;
                    box-shadow: 0 0 4px inset #4E4E4E;
                    border-radius: 8px;
                    pointer-events: none;
                }

            }

        }

        .operators {
            width: 55%;
            position: relative;
            padding: 10px;
            display: flex;
            align-items: center;

            &::after {
                position: absolute;
                content: '';
                display: block;
                top: 10px;
                width: calc(100% - 20px);
                height: calc(100% - 20px);
                box-sizing: border-box;
                box-shadow: 0 0 4px inset #4E4E4E;
                border-radius: 8px;
                pointer-events: none;
            }

            .operator-context {
                padding: 10px;
                flex: 1;
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }

            .operator-item {
                width: 33%;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            .upload-avatar {
                width: 100%;
            }
        }


        background-color: #ffffff;
    }

    .screen_status {
        background-color: #fff;
        padding: 0 30px 30px 30px;
        box-shadow: rgba(56, 71, 109, 0.075) -16px 20px 12px 6px;
        z-index: 100;

        .status_content {
            height: 130px;
            border-radius: 4px;
            padding: 30px;
            box-shadow: inset 5px 5px 10px rgba(0, 0, 0, 0.3);

            &.status_text {
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 3em;
                font-weight: bolder;
                letter-spacing: 10px;

                transition: background-color 0.5s ease;
                font-family: 'KaiTi';
            }

            &.status_no_1 {
                background-color: #8cb781;
            }

            &.status_no_2 {
                background-color: #c3c927;
            }

            &.status_no_3 {
                background-color: #c0a33d;
            }

            &.status_no_4 {
                background-color: #94a9c8;
            }

            &.status_no_5 {
                color: #fff;
                background-color: #da2e18;
            }

            &.status_no_6 {
                background-color: #d22f14;
                color: #fff;
            }

            &.status_no_7 {
                background-color: #8ea3c3;
                color: #fff;
            }

            &.status_no_8 {
                background-color: #b4b6b8;
            }
        }
    }


    .document-display-area {
        position: relative;
        flex: 1;

        display: flex;

        &>div {
            flex: 1;
            overflow: hidden !important;
            position: relative;

            .document-card {
                display: none;


                &.visible {
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    bottom: 0;
                    right: 0;
                    padding: 30px;

                    .card {
                        height: 100%;
                        overflow: hidden;

                        .pdf-viewer {
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            flex-direction: column;
                        }
                    }

                    .excel-viewer {
                        height: 100%;

                        &:before {
                            display: none !important;
                        }
                    }

                }
            }
        }

        .document-display-area__sidebar {
            width: 160px;
            height: 100%;
            position: absolute;
            top: 0;
            right: -160px;
            border: 2px solid transparent;
            /* 设置透明的边框 */
            box-shadow: 0 6px 12px 1px rgb(202 202 202 / 70%);
            /* 添加发光效果 */
            transition: right 0.5s cubic-bezier(0.68, -0.55, 0.27, 1.55);

            &.show {
                right: 0;
            }


            .document-controls-container {
                position: relative;
                width: 100%;
                height: 100%;
                // background: url('your-image.jpg') no-repeat center center;
                background-size: cover;
            }

            .document-controls-overlay {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(255, 255, 255, 0.5);
                /* 半透明白色背景，调整 alpha 值以控制透明度 */
                backdrop-filter: blur(10px);
                /* 磨砂效果，调整像素值以控制模糊程度 */
                z-index: 1;
                /* 确保覆盖在图片上方 */
            }

            /* 添加内容样式，以使内容可见 */
            .document-controls-content {
                position: relative;
                z-index: 20;
                /* 确保内容显示在磨砂效果之上 */
                text-align: center;
                color: #333;
                /* 调整文本颜色 */
                display: flex;
                height: 100%;

                .document-locator {
                    width: 116px;
                    margin: 20px;
                    font-size: 1.2rem;
                    font-weight: bold;
                    margin-bottom: 10px;
                    background-color: #fff;
                    border-radius: 10px;
                    box-shadow: 0 0 2px #898888;
                    overflow: hidden;
                    cursor: pointer;
                    transition: box-shadow 0.3s ease;
                    /* 添加过渡效果 */

                    &:hover {
                        box-shadow: 0 0 6px #4E4E4E;
                    }

                    .img-container {
                        width: 100%;
                        height: 60px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: #a7a6a6;
                        border-bottom: 2px solid #a7a6a6;


                        img {
                            width: auto;
                            height: 100%;
                        }
                    }

                    span {
                        padding: 10px;
                        font-family: 'KaiTi', 'Microsoft Yahei';
                    }

                }
            }

        }

        .document-content {
            padding: 30px;
        }

        .document-card:first-child {
            margin-top: 0;
        }

        .document-card {
            margin-top: 16px;

            .doc-nofile-placeholder {
                position: relative;

                img {
                    filter: grayscale(100%) blur(3px);
                }

                .placeholder-tip {
                    z-index: 10;
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(-20deg);
                    font-size: 3rem;
                    font-weight: bold;
                }
            }

            .pdf-page-canvas {
                width: 100%;
                // height: 100%;
            }

            &.operating_instructions {
                width: 100%;
                height: 100%;
            }

            &.production_order {
                width: 100%;
                height: 100%;
            }
        }

    }

    .site-dropdown-context-menu {
        color: #777;
        background: #f7f7f7;
    }
}

.fples_screen_list {
    user-select: none;
    padding: 30px;

    .header {
        display: flex;
        align-items: center;

        .header-title {
            font-size: 3rem;
            font-weight: bold;
        }

        .header-tools {}
    }

    .fples_screen_list_container {
        padding-top: 40px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;

        .screen_card {
            width: 270px;
            height: 480px;
            margin: 24px;
            overflow: hidden;

            &.card>.card-body {
                padding: 0;
            }

            .screen-thumbnail {
                cursor: pointer;
                height: calc(480px - 70px);
                width: 100%;
                position: relative;
                overflow: hidden;

                .fples_screen_view {
                    width: 1080px;
                    height: 1632px;
                    transform: scale(0.250);
                    transform-origin: left top;
                }

                &::after {
                    position: absolute;
                    z-index: 10;
                    content: '';
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                }
            }
        }
    }
}

.fples_screen_item_menu_popover {
    --bs-popover-box-shadow: none;
    --bs-popover-border-width: 0;
    --bs-popover-body-padding-y: 0;
    --bs-popover-body-padding-x: 0;
    --bs-font-sans-serif: 'KaiTi', 'Microsoft Yahei';

    .menu-item.px-3 {
        padding-right: 0.8rem !important;
        padding-left: 0.8rem !important;

        .menu-link {
            padding-top: 0.5rem !important;
            padding-bottom: 0.5rem !important;
            padding-left: 0.5rem !important;
        }
    }
}

.page-checkin {
    background-color: black;
    height: 100%;
    padding: 10em;

    .xterm-viewport {
        overflow: overlay;
    }

    ::-webkit-scrollbar {
        background-color: transparent;
        width: 12px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: transparent;
        border-radius: 8px;
        background-clip: content-box;
        border: 2px solid transparent;
    }

    .xterm-viewport[scroll]::-webkit-scrollbar-thumb,
    ::-webkit-scrollbar-thumb:hover {
        background-color: rgba(0, 0, 0, .5);
    }

    .console {
        height: 100%;
    }

    .controls {
        position: absolute;
        top: 0;
        right: 0;
        padding: 30px;
    }

}

.excel-viewer {
    position: relative;

    .excel-viewer-iframe {
        width: 100%;
        height: 100%;
        border: none;
        overflow: hidden;
        position: relative;
        z-index: 1;
        background-color: #fff;
        box-shadow: 0 0 4px inset #4E4E4E;
        border-radius: 8px;
        pointer-events: none;
    }

    &:before {
        content: '';
        position: absolute;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}