.icon-editor {
  --editor-navigation-height: 64px;
  --icon-sortable-chosen-color: #2bd672;
}

.sunmao-navigation {
  display: flex;
  flex: 1;
  align-items: center;
  height: 100%;

  .navigation-left {
    display: flex;
    flex: 0 0 210px;
    align-items: center;
    height: 100%;
    padding-right: 10px;

    .title {
      padding-left: 16px;
      color: var(--primary-color);
      font-weight: bold;
      font-size: 14px;
      font-family: Avenir, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
        'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji', sans-serif;
      letter-spacing: 12px;
    }
  }

  .sunmao-navigation-container {
    display: flex;
    flex: 1;
    height: 100%;
    padding: 0 24px 0 24px;

    .sunmao-search {
      display: flex;
      box-sizing: padding-box;
      margin: 0;
      color: #4b4b4b;
      border: 1px solid #e1e1e1;
      border-radius: 4px;
      outline: 0;
      transition: color 0.3s, border 0.3s;

      .sunmao-icon-typs {
        color: #4b4b4b;
        background-color: #fafafa;
        border-right: 1px solid #e1e1e1;
        border-radius: 4px 0 0 4px;

        select {
          position: relative;
          display: inline-block;
          box-sizing: padding-box;
          height: 38px;
          min-height: 30px;
          padding: 0 32px 0 11px;
          font-size: 0.875rem;
          vertical-align: middle;
          background-color: transparent;
          border: 0;
          outline: 0;
          cursor: pointer;
          transition: background-color 0.3s, color 0.3s, border 0.3s;
          appearance: none;
        }
      }

      .sunmao-icon-input {
        display: flex;
        flex: 1;
        align-items: center;

        input {
          height: 32px;
          margin: 0;
          padding-left: 40px;
          color: #4b4b4b;
          background-color: transparent;
          border: 0;
          border-radius: 0;
          outline: 0;
          transition: color 0.3s, border 0.3s;
        }
      }
    }
  }

  .sunmao-my-libraries {
    display: flex;
    align-items: center;
    width: 128px;
    padding-right: 24;

    .button-text {
      color: var(--primary-color);
      font-size: 14px;
    }
  }
}

.flow-editor {
  .sidebar-node-types-classics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 16px 8px 16px 16px;
  }

  .sketch-toolbar {
    background-color: #fff;
  }

  .sidebar-screen-panel {
    position: relative;
    display: flex;
    flex: 1 1 0%;
    flex-direction: column;
    overflow: hidden;
    background: #fff;

    .sidebar-subpanel-header {
      border-top: 1px solid transparent;
    }

    .screen-header {
      display: flex;
      flex-shrink: 0;
      align-items: center;
      height: 40px;
      padding: 0 4px 0 4px;
      border-top: 1px solid transparent;
      border-bottom: 1px solid #dbdbdb;

      .svg-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 32px;
        height: 32px;
        color: #525e71;
        cursor: pointer;

        &:hover {
          color: #1684fc;
        }
      }
    }
  }

  .canvas {
    height: 100%;
  }

  .sidebar-panel {
    .flow-node {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 105px;
      height: 30px;
      margin-right: 8px;
      margin-bottom: 8px;
      padding: 4px;
      background-color: #f5f8fa;
      border: 1px solid #a1a5b7;
      border-radius: 2px;
      cursor: grab;

      .svg-icon {
        margin-right: 8px;
      }
    }
  }
}

.sunmao-libraries {
  width: 100%;
  color: var(--primary-second-color);
  background-color: var(--gray-color-background);

  a {
    color: var(--primary-second-color);
  }

  a.name-editing-cancel,
  a.name-editing-ok {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    height: 28px;

    &:hover {
      color: var(--primary-color);
    }

    &.name-editing-cancel {
      font-size: 14px;
    }

    &.name-editing-ok {
      font-size: 16px;
    }
  }

  .os-host.libraries-scrollbar {
    height: calc(100vh - var(--editor-navigation-height));
    padding: 24px;
  }

  .libraries-header-section {
    .libraries-header {
      display: flex;
      align-items: center;
      margin-top: 14px;
      margin-bottom: 24px;
      color: var(--primary-third-color);
      font-size: 21px;
      line-height: 32px;

      .icon-arrow {
        margin: 0 6px;
      }

      .library-current {
        color: var(--primary-second-color);
      }

      .library-name-editing {
        display: flex;
        flex-direction: row;
        height: 32px;

        .ant-input-rimless {
          margin-top: 1px;
          padding-left: 0;
          color: var(--primary-second-color);
          font-weight: 500;
          font-size: 21px;
          border-bottom-right-radius: 0;
          border-bottom-left-radius: 0;
        }

        .ant-spin-nested-loading .ant-spin-container {
          display: flex;
          flex-direction: row;
        }
      }

      a:hover {
        color: var(--primary-focus-color);
      }
    }

    .subheading {
      .library-detail-header-library-total-count-text {
        color: var(--text-color-subtle-contrast);
        line-height: 32px;
      }
    }
  }

  .library-list-wrapper {
    display: flex;
    flex-wrap: wrap;

    .library-container {
      position: relative;
      display: inline-block;
      width: 280px;
      height: 420px;
      margin: 0 20px 20px 0;
      vertical-align: top;
      background: #e0dfdf;
      border-radius: 2px;

      &.ant-card-hoverable {
        cursor: default;
      }

      &.library-create {
        .ant-card-body {
          display: flex;
          align-items: center;
          height: 100%;
        }

        .library-create-form {
          display: block;
          display: flex;
          flex: 1;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          &.active {
            .library-action-buttons .svg-icon {
              opacity: 1;
            }
          }

          .ant-spin-blur {
            opacity: 0;
          }

          .ant-spin-container:after {
            background-color: transparent;
          }

          .library-action-buttons {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 80px;
            height: 40px;

            .name-editing-cancel {
              font-size: 16px;
            }

            .name-editing-ok {
              font-size: 18px;
            }

            .svg-icon {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 32px;
              height: 32px;
              opacity: 0;
              transition: opacity 0.5s;
            }
          }
        }

        .library-name-input {
          width: 220px;
          height: 32px;
          padding: 0 10px 0 10px;
          color: var(--primary-second-color);
          font-style: italic;
          background-color: transparent;
          border: 0;
          border-bottom: 1px solid #aaa;
          border-radius: 0;

          &:hover {
            &::placeholder {
              color: var(--primary-second-color);
              transition: color 0.3s, border 0.3s;
            }
          }
        }
      }

      .ant-card-cover {
        .ant-spin-blur {
          opacity: 1;
        }

        .ant-spin-container:after {
          background-color: var(--main-color-brand);
        }
      }

      .library-image-wrapper {
        position: relative;
        width: 100%;
        height: 350px;
        background-color: #ccc;
        border-top-left-radius: 2px;
        border-top-right-radius: 2px;
        cursor: pointer;
      }

      &.ant-card-bordered {
        border: 1px solid transparent;
      }

      .ant-card-body {
        display: flex;
        flex-direction: row;
        height: 70px;
        padding: 0;
      }

      .lib-description {
        flex: 1;
        padding: 6px 0 12px 16px;

        .library-name-header {
          display: flex;
          align-items: center;
          height: 28px;
          margin: 0;
          padding-right: 32px;
          font-weight: 300;
          font-size: 18px;
          line-height: 28px;

          .ant-input-rimless {
            height: 28px;
            padding: 0;
            color: var(--primary-second-color);
            font-weight: 300;
            font-size: inherit;
            border-bottom-color: var(--text-color-subtle-contrast);
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 0;
          }

          .ant-spin-blur {
            opacity: 0;
          }

          .ant-spin-container:after {
            background-color: transparent;
          }

          .ant-spin-container {
            display: flex;
            flex-direction: row;
          }
        }

        .library-item-count-label {
          top: 50%;
          height: 24px;
          margin-bottom: 0;
          color: #787878;
          font-size: 15px;
        }
      }

      .lib-actions-menu {
        display: flex;
        align-items: center;
        padding-right: 8px;

        .ant-dropdown-link {
          display: flex;
          align-items: center;
          justify-content: center;
          width: 32px;
          height: 32px;
          font-size: 24px;
        }
      }
    }
  }
}

.sunmao-library-details {
  .libraries-header-section {
    display: flex;

    .library-left {
      display: flex;
      flex: 1;
      flex-direction: column;
    }

    .library-right {
      display: flex;
      align-items: center;

      .ant-dropdown-link {
        height: 28px;
        font-size: 28px;
      }
    }

    .libraries-header {
      margin-top: 0;
      margin-bottom: 0;

      .svg-icon {
        font-size: 18px;
      }
    }
  }

  .mosaic-container {
    min-height: calc(100vh - 88px - var(--editor-navigation-height));
    padding-top: 12px;
    padding-bottom: 24px;

    .icon-mosaic-set {
      .ims-header-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-bottom: 16px;
        font-size: 24px;
        box-shadow: 0 2px #f1f1f1, 0 3px #d4d4d4;

        .ims-hs-title {
          flex: 1;
          padding-left: 4px;
        }

        .ims-hs-actions {
          display: flex;
          align-items: center;
        }
      }

      .ims-header-body {
        margin-left: -12px;
      }
    }

    &.feature-move {
      .icon-mosaic {
        &.sortable-item-dragging {
          .icon-thumb {
            background: var(--general-background);
            box-shadow: inset 0 0 0 3px var(--icon-sortable-chosen-color);
          }
        }
      }
    }

    .icon-mosaic {
      display: inline-flex;
      margin-top: 12px;
      margin-left: 12px;
      cursor: pointer;

      &.mode-list {
        width: 280px;
        margin-top: 24px;
        margin-right: 48px;
        margin-bottom: 12px;

        box-shadow: 0 2px #f1f1f1, 0 3px #d4d4d4;

        .icon-thumb {
          justify-content: start;
          width: 48px;
          height: 48px;
          background: transparent;
        }

        &:hover .icon-thumb {
          box-shadow: none;
        }
      }

      &:hover {
        .icon-thumb {
          box-shadow: inset 0 0 0 3px #ccc;
        }
      }

      &.selected {
        .icon-thumb {
          background: var(--general-background);
          box-shadow: inset 0 0 0 3px var(--primary-focus-color);
        }
      }
    }

    .icon-thumb {
      width: 72px;
      height: 72px;
      font-size: 32px;
      background-color: #ddd;
      border-radius: 5px;
      transition: background 0.1s;
    }
  }

  .os-host.libraries-scrollbar {
    width: calc(100% - 240px);
  }

  .control-panel {
    position: fixed;
    top: 0;
    right: 0;
    width: 240px;
    height: 100%;
    background: #fff;

    .sketch-configuration-body {
      height: calc(100vh - 64px);
    }

    .global-panel {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;

      .import-icons {
        display: flex;
        flex-direction: column;
        align-items: center;

        .import-icon-container {
          display: block;
          padding: 0 16px 16px 16px;
          font-size: 160px;
        }

        p {
          margin-bottom: 0;
          font-size: 14px;
        }

        button {
          width: auto;
          padding-right: 20px;
          padding-left: 20px;
        }
      }
    }
  }
}

.componet-list-wrap {
  width: 100%;

  .component-content {
    display: flex;
    flex-wrap: wrap;

    &.show-list > li {
      width: 100%;
      height: auto;

      .component-icon {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        min-height: 40px;
        border: 1px solid #f0f0f0;
        transition: box-shadow 0.3s, border-color 0.3s;

        &:hover {
          border-color: transparent;
          box-shadow: 0 1px 2px -2px #00000029, 0 3px 6px #0000001f,
            0 5px 12px 4px #00000017;
        }

        img {
          width: 100%;
        }
      }

      .component-info {
        line-height: 24px;
      }
    }

    li {
      display: flex;
      flex-direction: column;
      width: 80px;
      height: 60px;
      padding: 7px;
      color: var(--text-color-subtle-contrast);
      cursor: pointer;
      user-select: none;

      &:hover {
        color: var(--main-color-brand);
      }

      .component-icon {
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        font-size: 25px;
      }

      .component-info {
        display: flex;
        justify-content: center;
        font-size: 12px;
      }
    }
  }

  .site-collapse-compactness-collapse.ant-collapse {
    .ant-collapse-item {
      border-bottom: 0;

      .ant-collapse-arrow {
        position: absolute;
        top: 50%;
        right: 14px;
        left: auto;
        margin-right: 0;
        padding: 0;
        transform: translateY(-50%);
      }
    }
  }
}

.asanyeditor-config-component-popover.asanyeditor-dsign-light-popover.asanyeditor-dsign-popover {
  .ant-popover-content .ant-popover-inner-content {
    width: auto;
  }

  .ae-popover.component-picker .ae-popover-content {
    .tree-node-content {
      padding: 8px 16px 8px 16px;

      .tree-node-item-list {
        margin-bottom: 0;

        .tree-node-item {
          width: calc(50% - 4px);
          margin-right: 8px;
          overflow: hidden;

          &:nth-child(even) {
            margin-right: 0;
          }

          &:hover:not(.active) {
            border-radius: 12px;

            .component-preview {
              img {
                transform: scale(1.4);
                transition: transform 0.3s ease-in-out;
              }
            }
          }

          .component-item-container {
            position: relative;
            width: 100%;
            height: 100%;
            overflow: hidden;
            border-radius: 12px;

            .component-preview {
              height: 100%;

              img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: transform 0.3s ease-in-out;
              }

              .svg-icon {
                width: 100%;
                font-size: 60px;
              }
            }

            .tree-node-item-title {
              position: absolute;
              bottom: 0;
              width: 100%;
              height: 24px;
              color: #fff;
              font-weight: bold;

              & > span {
                position: relative;
              }

              &::before {
                position: absolute;
                right: 0;
                left: 0;
                height: 100%;
                background-color: #000;
                opacity: 0.3;
                content: '';
              }
            }
          }

          .svg-icon {
            display: flex;
            flex: 1;
            align-items: center;
            justify-content: center;
            box-shadow: none;
          }

          &.active {
            border: 2px solid #18a0fb;
            border-radius: 14px;
          }
        }
      }
    }
  }
}

.component-picker {
  .ae-popover-search .icons-pane .svg-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .tree-current-node {
    & > .svg-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      font-size: 14px;
    }
  }

  .ae-tree {
    margin-bottom: 0;

    & > li > .svg-icon {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 32px;
      height: 32px;
      font-size: 14px;
    }
  }
}

.react-flow__node-StartNoneEvent,
.react-flow__node-EndNoneEvent,
.react-flow__node-UserTask,
.react-flow__node-ServiceTask {
  width: 240px;
  height: 88px;
  padding: 0;
  color: #222;
  font-size: 12px;
  text-align: center;
  background: #fff;
  border-radius: 3px;
  box-shadow: rgb(100 100 100 / 20%) 0px 0px 2px 0px;
  cursor: default;
  transition: box-shadow 0.3s ease-in-out;

  .react-flow__handle {
    background-color: var(--flow-node-color);
  }

  &:hover {
    .react-flow__node-header .react-flow__node-header__delete {
      opacity: 1;
    }
  }

  .react-flow__node-header {
    --bs-bg-opacity: 0.1;
    display: flex;
    flex-direction: row;
    padding-left: 8px;
    background-color: rgba(var(--flow-node-color-rgb), var(--bs-bg-opacity));
    border-top: 3px solid var(--flow-node-color);
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    position: relative;
    cursor: grab;

    .react-flow__node-icon {
      .svg-icon {
        color: var(--flow-node-color);

        svg {
          path {
            fill: var(--flow-node-color);
          }
        }
      }
    }

    .react-flow__node-title {
      padding-left: 4px;
      color: var(--flow-node-color);
      line-height: 24px;
      text-align: left;
    }

    .react-flow__node-header__delete {
      position: absolute;
      cursor: pointer;
      width: 24px;
      height: 24px;
      display: flex;
      align-items: center;
      justify-content: center;
      right: 0px;
      opacity: 0;
      transition: opacity 0.2s ease-in-out;
    }
  }

  &:hover {
    box-shadow: rgba(var(--flow-node-color-rgb), 0.2) 0px 0px 3px 3px;
  }

  &.selectable.selected {
    box-shadow: rgba(var(--flow-node-color-rgb), 0.4) 0px 0px 3px 3px;
  }
}

.react-flow__node-StartNoneEvent,
.quick-controls__node-StartNoneEvent {
  --flow-node-color: var(--kt-success);
  --flow-node-color-rgb: var(--bs-success-rgb);
  --flow-node-color-inverse: var(--kt-success-inverse);
}

.react-flow__node-UserTask,
.quick-controls__node-UserTask {
  --flow-node-color: var(--kt-warning);
  --flow-node-color-rgb: var(--kt-warning-rgb);
  --flow-node-color-inverse: var(--kt-warning-inverse);
}

.react-flow__node-EndNoneEvent,
.quick-controls__node-EndNoneEvent {
  --flow-node-color: var(--kt-dark);
  --flow-node-color-rgb: var(--kt-dark-rgb);
  --flow-node-color-inverse: var(--kt-dark-inverse);
}

.react-flow__node-ServiceTask,
.quick-controls__node-ServiceTask {
  --flow-node-color: var(--kt-primary);
  --flow-node-color-rgb: var(--kt-primary-rgb);
  --flow-node-color-inverse: var(--kt-primary-inverse);
}

.react-flow__node-ExclusiveGateway {
  color: #222;
  font-size: 12px;
  text-align: center;

  .inner-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45.25px;
    height: 45.25px;

    .shape-diamond {
      display: inline-block;
      width: 32px;
      height: 32px;
      background-color: #fff;
      border: 1px solid #1a192b;
      border-radius: 3px;
      transform: rotate(45deg);

      & > div {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        .svg-icon svg {
          width: 32px;
          height: 32px;
        }
      }
    }
  }

  &:hover {
    .shape-diamond {
      box-shadow: 0 0 0 0.5px rgba(rgb(26, 25, 43), 0.5);
    }
  }

  &.selectable.selected {
    .shape-diamond {
      box-shadow: 0 0 0 0.5px #1a192b;
    }
  }
}

.react-flow__edge {
  .edge-container {
    position: relative;

    .edge-shortcuts {
      position: absolute;
      left: 20px;
    }
  }
}

.react-flow__node {
  .react-flow__handle {
    &.nodrag {
      opacity: 0;
    }
  }

  &:hover {
    .react-flow__handle.nodrag {
      opacity: 1;
    }
  }
}

.react-flow__handle {
  opacity: 0;
}

.reactflow-wrapper {
  .react-flow__handle {
    opacity: 1;
  }

  .react-flow__node-ExclusiveGateway {
    .react-flow__handle {
      &.react-flow__handle-top {
        top: -5px;
      }

      &.react-flow__handle-bottom {
        bottom: -5px;
      }

      &.react-flow__handle-left {
        left: -5px;
      }

      &.react-flow__handle-right {
        right: -5px;
      }
    }
  }

  .react-flow__edge-path {
    stroke-width: 2;
  }

  .react-flow__handle {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    border: 2px solid #fff;
    transition: opacity 0.3s;

    &.react-flow__handle-top {
      top: -6px;
    }

    &.react-flow__handle-bottom {
      bottom: -6px;
    }

    &.react-flow__handle-left {
      left: -6px;
    }

    &.react-flow__handle-right {
      right: -6px;
    }
  }

  .quick-controls {
    z-index: 1000;
    opacity: 1;
    display: inline-flex;
    position: relative;
    padding: 16px;
    background-color: #fff;
    border-radius: 8px;
    pointer-events: all;
    align-items: center;
    box-shadow: rgb(100 100 100 / 20%) 0px 0px 3px 3px;
    --flow-node-color: #000;

    .quick-controls-arrow {
      left: 0;
      top: 50%;
      transform: translate(-100%) translateY(-50%);
      position: absolute;
      display: block;
      width: 22px;
      height: 22px;
      overflow: hidden;
      background: 0 0;
      pointer-events: none;

      .quick-controls-arrow-content {
        box-shadow: 3px 3px 7px #00000012;
        transform: translate(11px) rotate(135deg);
        --arrow-background-color: #fff;
        position: absolute;
        inset: 0;
        display: block;
        width: 11.3137085px;
        height: 11.3137085px;
        margin: auto;
        content: '';
        pointer-events: auto;
        border-radius: 0 0 2px;
        pointer-events: none;

        &::before {
          position: absolute;
          top: -11.3137085px;
          left: -11.3137085px;
          width: 33.9411255px;
          height: 33.9411255px;
          background: var(--arrow-background-color);
          background-repeat: no-repeat;
          background-position: -10px -10px;
          content: '';
          position: absolute;
          top: -11.3137085px;
          left: -11.3137085px;
          width: 33.9411255px;
          height: 33.9411255px;
          background-repeat: no-repeat;
          background-position: -10px -10px;
          content: '';
          clip-path: path(
            'M 9.849242404917499 24.091883092036785 A 5 5 0 0 1 13.384776310850237 22.627416997969522 L 20.627416997969522 22.627416997969522 A 2 2 0 0 0 22.627416997969522 20.627416997969522 L 22.627416997969522 13.384776310850237 A 5 5 0 0 1 24.091883092036785 9.849242404917499 L 23.091883092036785 9.849242404917499 L 9.849242404917499 23.091883092036785 Z'
          );
        }
      }
    }

    .flow-node-type-separator {
      height: 40px;
      width: 1px;
      background-color: rgb(87, 86, 86);
      margin-right: 8px;
    }

    .flow-node-type {
      display: flex;
      flex-direction: column;
      align-items: center;
      cursor: pointer;

      &:not(:last-child) {
        margin-right: 8px;
      }

      &-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px;
        border-radius: 20px;
        transition: background-color 0.1s ease-in-out;

        .svg-icon svg {
          width: 20px;
          height: 20px;
        }
      }

      &-label {
        font-size: 12px;
        line-height: 20px;
      }

      &:hover {
        .flow-node-type-icon {
          background-color: var(--flow-node-color);

          .svg-icon {
            color: #fff;
          }
        }
      }
    }
  }
}
