.form-control {
  &-borderless {
    background-color: transparent;
    border: none;
    box-shadow: none;
  }
}
.form-control-xs {
  min-height: calc(1em + 0.8rem + 2px);
  padding: 0.25rem 0.5rem;
  font-size: 0.725rem;
  border-radius: 0.25rem;
}
.asany-form-horizontal {
  .asany-form-item {
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: self-start;
    padding: 0 0.5rem;
    .form-label {
      flex: none;
      width: 48px;
      margin-right: 0.5rem;
      margin-bottom: 0;
      text-align: right;
      &::after {
        padding: 0 2px;
        font-size: medium;
        content: ':';
        color: inherit;
      }
    }
    .fv-control-wrapper {
      flex: 1;
    }
    .form-control {
      flex: 1;
    }
  }
}
.asany-form-xs {
  .form-label {
    font-size: 1rem;
  }
}
