.infinite-scroll {
  .infinite-scroll-inner {
    position: relative;
    min-height: 100%;

    .infinite-scroll-no-rows {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100%;
      img {
        width: 80%;
      }
      .empty-title {
        padding: 16px 0;
        font-weight: 400;
        font-size: 14px;
      }
      .empty-subtitle {
        color: #858585;
        font-size: 13px;
      }
    }
  }
}
