.page-item.ellipsis .page-link {
  position: relative;
  .page-fast-forward {
    font-size: 0.9rem;
    opacity: 0;
    transition: all 0.2s ease;

    &.double-right {
      transform: rotateY(180deg);
    }
  }
  .page-link-ellipsis {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
  }
  &:hover {
    // color: inherit;
    background-color: inherit;
    .page-fast-forward {
      opacity: 1;
    }
    .page-link-ellipsis {
      opacity: 0;
    }
  }
}
