.nprogress-container {
  position: absolute;
  pointer-events: none;
  width: 100%;

  .nprogress-bar {
    background: var(--bs-primary-active);
    height: 2px;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 1031;
  }
}
