.form-switch.form-check.form-check-custom {
  display: inline-flex;
  align-items: center;
  height: 32px;
  margin-left: 4px;

  input {
    cursor: pointer;
  }

  .form-check-input {
    width: 44px;
    height: 22px;
  }

  .form-check-label {
    margin-left: 0.55rem;
  }
}
