.menu-section__link {
  margin-left: -12px;
  padding: 3px 12px;
  border-radius: 4px;
  display: inline-block;
  line-height: 20px;

  &.checked {
    color: var(--bs-primary) !important;
    background-color: var(--bs-light);
  }

  &:hover {
    color: var(--bs-light-inverse);
    background-color: var(--bs-light);
  }
}
