.model_management__no-fields {
  box-sizing: border-box;
  min-width: 0px;
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;

  &-svg {
    box-sizing: border-box;
    min-width: 0px;
    max-width: 440px;
    width: 100%;
  }

  &-notes {
    box-sizing: border-box;
    min-width: 0px;
    display: flex;
    gap: 16px;
    flex-direction: column;
    max-width: 440px;
    width: 100%;
    align-items: center;
    margin-top: -10%;
  }

}
