.z-100 {
  z-index: 100 !important;
}
@media (min-width: 992px) {
  .aside-fixed.aside-secondary-enabled[data-kt-sticky-header='on']
    .micro-app-container
    .header {
    left: calc(var(--met-aside-width) + 100px);
  }
}
.aside-secondary-enabled.aside-fixed[data-kt-aside-minimize='on'] {
  .micro-app-container .wrapper {
    padding: 0;
  }
}
.aside-fixed {
  .micro-app-container {
    &.aside-minimize {
      --root-aside-width: 0px;
      --met-aside-width: 0px;
      .aside {
        width: 0;
      }
    }

    .aside .aside-secondary .aside-workspace {
      width: var(--met-aside-width);
      transition: width 0.3s ease;
      & > div {
        min-width: 160px;
      }
    }

    &.page-full-content {
      width: 100%;
      margin-left: 100px;
      padding-left: var(--met-aside-width);
      transition: padding-left 0.3s ease;
    }

    .wrapper {
      padding-left: 0;
    }
  }
}

@media (min-width: 993px) {
  #kt_header.headless {
    display: none;
  }
}
