:root {
  --bs-body-font-size: 14px;
}

html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}
.ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed {
  left: unset;
}

canvas {
  display: block;
}

body {
  color: #404040;
  font-weight: 400;
  font-size: var(--bs-body-font-size) !important;
  font-family: -apple-system, BlinkMacSystemFont, 'Apple Color Emoji', 'Segoe UI Emoji',
    'Segoe UI Symbol', 'Segoe UI', 'PingFang SC', 'Hiragino Sans GB', 'Microsoft YaHei',
    'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-variant: tabular-nums;
  background-color: #f3f6f9;
  font-feature-settings: 'tnum';
  -webkit-font-smoothing: antialiased;
}

ul,
ol {
  list-style: none;
}

.text-small {
  font-size: 12px;
}

.f-14px {
  font-size: 14px;
}

// Compatible with IE11
@media screen and(-ms-high-contrast: active), (-ms-high-contrast: none) {
  body .asany-web > .ant-layout {
    min-height: 100vh;
  }
}
