html,
body,
#root {
  height: 100%;
}

.colorWeak {
  filter: invert(80%);
}

.ant-layout {
  min-height: 100vh;
}
.ant-pro-sider.ant-layout-sider.ant-pro-sider-fixed {
  left: unset;
}

canvas {
  display: block;
}

body {
  font-size: 13px!important;
  font-weight: 400;
  font-family: Roboto,sans-serif;
  -webkit-font-smoothing: antialiased;
  background-color: #f3f6f9;
}

ul,
ol {
  list-style: none;
}

// Compatible with IE11
@media screen and(-ms-high-contrast: active), (-ms-high-contrast: none) {
  body .asany-web > .ant-layout {
    min-height: 100vh;
  }
}
